body{
    background-color: lightblue;
    color: maroon;
    font-family: arial;
    margin: 0px;    
}

header{
    background: linear-gradient(to right top,red,orange,yellow,green ,rgb(75, 195, 234), blue, purple  ) ;
    color: rgb(30, 49, 30);
    padding: 10px;
    font-size: 16pt;
}

main{
    margin: 10px 20px;
}

footer{
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a{

}

a:visited{
color: lightcoral;
background-color: lightgreen;

}

a:hover{
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;

}

a:active{
    color: pink;
    background-color: green;
}
