body{
    background-color: rgb(213, 156, 0);
    color: black;
    font-family: 'segoe print', Courier, monospace;
    margin: 0px;
}

main {
    margin: 10px 20px;
}

menu {
    text-decoration: none;
    font-weight: bolder;
    position: fixed;
    top: -20px;
    background-color: black;
    height: 70px;
    width: 100%;
    text-align: center;
    vertical-align: middle; 
    line-height: 60px;
}
a {
    text-decoration: none;
    color: rgb(213, 156, 0);
    margin-right: 30px;
}
a:hover {
background-color: white;
border-radius: 30px;
}
h1 {
    font-size: 2em;
    margin-top: 100px;
  }
